# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.manifest
*.spec
.venv/
venv/
.env
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Project
viz_venv/

.planning
